<?xml version="1.0"?>
<Configuration>
  <!--Databases-->
  <Databases>
    <Database Name="Treinamento">
      <Setting key="Type" value="Sql" />
      <Setting key="StringConnection" value="Server=DF05171750D\SQLEXPRESS;Database=Treinamento;User ID=sa;Password=Rgs@280297;Trusted_Connection=false" />
      <Setting key="ConnectionCommands" value="" />
      <Setting key="Server" value="MSSQLSERVER" />
      <Setting key="BoolFormat" value="1;0" />
      <Setting key="DateFormat" value="yyyy/MM/dd HH:mm:ss" />
      <Setting key="IdentifierDelimiterInitial" value="[" />
      <Setting key="IdentifierDelimiterFinal" value="]" />
      <Setting key="StringDelimiterInitial" value="N'" />
      <Setting key="StringDelimiterFinal" value="'" />
      <Setting key="DateRightDelimeter" value="'" />
      <Setting key="DateLeftDelimeter" value="'" />
      <Setting key="Optimized" value="True" />
      <Setting key="ParameterDelimiter" value="@" />
      <Setting key="User" value="sa" />
      <Setting key="Password" value="Rgs@280297" />
      <Setting key="WinAut" value="False" />
      <Setting key="ServerName" value="DF05171750D\SQLEXPRESS" />
      <Setting key="RunAdapter" value="false" />
      <Setting key="CheckDatabase" value="false" />
      <Setting key="DataBaseName" value="Treinamento" />
      <Setting key="DataBaseAdapterName" value="BlankLoginTMP" />
    </Database>
  </Databases>
  <!--End Databases-->
</Configuration>